version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-aws
    ports:
      - "4566:4566"
    environment:
      - SERVICES=secretsmanager
      - DEFAULT_REGION=us-east-1
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  redis:
    image: redis:7.2
    container_name: redis-robsso-hex
    ports:
      - "6380:6379"
    restart: always
      
      
# docker-compose -f docker-compose-infra.yml -p localstack up -d

